# Specify your website URL
# APP_SITE=https://count.getloli.com

# DB_URL=mongodb+srv://account:passwd@***.***.***.mongodb.net/db_count

DB_URL=mongodb+srv://account:passwd@***.***.***.mongodb.net/db_count

# Database write interval in seconds (0 for real-time)
DB_INTERVAL=60

# Log level: either 'debug' | 'info' | 'warn' | 'error' | 'none'
LOG_LEVEL=debug

# Google Analytics `G-Tag` ID
# GA_ID=G-XXXX
